.drawtogether-chat-container {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:30%;
	background:rgb(145, 163, 173);

	overflow:hidden;
}

.drawtogether-welcome-text {
	display:inline-block;
	background:rgb(136, 84, 84);
	border:5px solid rgb(76, 20, 20);
	color:white;
	font-size:22px;
	margin-top:20px;
	padding:10px;
}

.drawtogether-modeselect-button {
	display:inline-block;
	margin:25px;
	margin-top:50px;
	background:rgb(79, 108, 133);
	padding:20px;
	text-align:center;
	color:white;
	cursor:pointer;
	text-decoration:none;
}

.drawtogether-modeselect-button:hover {
	background:rgb(102, 131, 155);
}

.drawtogether-selectwindow {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	left:0;
	display:none;
	background:rgb(179, 194, 202);
	text-align:center;
}

.drawtogether-share-url {
	background:rgb(46, 91, 43);
	padding:10px;
	color:white;
	margin-top:10px;
	font-size:24px;
}

.drawtogether-share-url a {
	color:white;
}

.drawtogether-preview-canvas {
	background:white;
	margin-top:10px;
}

.drawtogether-button {
	display:block;
	background:rgb(43, 69, 91);
	margin-top:5px;
	margin-bottom:5px;
	padding:20px;
	text-align:center;
	color:white;
	cursor:pointer;
	text-decoration:none;
}

.drawtogether-button:hover {
	background:rgb(55, 87, 113);
}

.drawtogether-sharewindow {
	position:fixed;
	right:25%;
	top:10%;
	left:25%;
	text-align:center;
	display:none;
	background:rgba(179, 194, 202, 0.98);
	max-height:80%;
	overflow-y:auto;
	border:1px solid black;
}

.drawtogether-paint-container {
	position:absolute;
	top:50px;
	left:0;
	bottom:0;
	width:70%;
	min-width:300px;

	overflow:hidden;
}

.drawtogether-control-container {
	box-sizing:border-box;
	width:70%;
	height:50px;
	background:rgb(118, 133, 141);

	overflow:hidden;
}

.control-button {
	display:inline-block;
	box-sizing:border-box;

	height:50px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;

	padding:3px;
	padding-left:10px;
	padding-right:10px;

	margin-left:5px;
	margin-right:5px;

	background:rgb(43, 69, 91);
	color:white;
	cursor:pointer;
}

.control-button:hover {
	background:rgb(36, 56, 73);
}

.drawtogether-paint-container .control-button {
	margin:0;
}

.control-integer-input {
	box-sizing:border-box;
	height:50px;
}

.control-text-input {
	margin-left:10px;
	margin-right:10px;
	font-size:18px;
	width:150px;
}

.inputcontainer {
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
}

.drawtogheter-chat-input {
	position:absolute;
	top:0;
	left:0;

	box-sizing:border-box;
	font-size:18px;
	height:50px;
	width:80%;
	margin:0;
}

.messagecontainer {
	height:calc(100% - 50px);
	color:rgb(28, 55, 62);
	overflow-y:auto;
}

.button-small {
	display:inline-block;
	background:rgb(43, 69, 91);
	text-align:center;
	color:white;

	position:absolute;
	top:0;
	right:0;

	box-sizing:border-box;
	height:50px;
	width:20%;
	line-height:50px;
	cursor:pointer;
}

.button-small:hover {
	background:rgb(36, 56, 73);
}

.chat-message {
	padding:3px;
	font-size:18px;
	background:rgb(179, 194, 202);
	font-family:monospace;
}

.chat-message:nth-child(even) {
	background:rgb(151, 165, 173);
}

.control-integer {
	display:inline-block;
}

.control-container {
	position:relative;
	display:inline-block;
	background:rgb(84, 84, 84);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-replacer {
	box-sizing:border-box;
	height:50px;
}

.sp-preview {
	height:35px !important;
}

@media (max-width: 1175px) {
	#fullscreen {
		left:auto;
		right:auto;
		bottom:auto;
	}

	.drawtogether-chat-container {
		position:relative;
		width:auto;
		height:50%;
		min-height:300px;
	}

	.drawtogether-paint-container {
		position:relative;
		top:0;
		width:auto;
		min-width:0;
		height:50%;
		height:calc(50% - 50px);
		min-height:300px;
	}

	.drawtogether-control-container {
		width:auto;
		height:auto;
	}

	.messagecontainer {
		margin-bottom:50px;
	}

	.drawtogether-sharewindow {
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		right:0;
		max-height:none;
	}
}