# Logs
logs
*.log

# Dependencies
node_modules

# Passwords
*_password.js
*_private.sql

# Private files
private/
**/dist/*.xml
**/dist/error
**/dist/stats
keys/
!brightfox_dev.key
!brightfox_dev.key.pub

# Image from the mainroom
server/imageServer/images/main

# Non default configuration files
*.config.json

# Generated content
**/dist/**/*.html
**/dist/**/*.json
**/dist/**/*.js
**/dist/**/*.css

# Database mysql
data/mysql/*

# Keep file
!.keep

# Yarn files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions