.paint-canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /*
        Pixelated rendering
    */
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.paint-canvas-background {
    background-image: url("images/transparent.png");
}

.paint-selected-tool {
    background: #bebebe;
}

.paint-selected-tool:hover {
    background: #b4b4b4;
}

input.paint-texttool {
    display:block;
    position: relative;
    margin: .2em;
    margin-left: 50px;
    padding: .2em;
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
}
