@import url("http://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  margin: 0;
  padding: 0; }

body, input, textarea, button {
  font-family: "Open Sans";
  font-size: 1em; }

input, button, textarea {
  border: none;
  outline: none; }

h1 {
  color:white;
  margin-top:1em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.drawtogether-loading {
  display:block;

  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;

  background:rgb(38, 57, 75);
  color:white;
  font-size:3em;
  padding-left:2em;
  padding-top:.3em;

  z-index:200;
}

.drawtogether-general-message {
  display:none;

  position:absolute;
  right:1em;
  top:0.8em;
  max-width:100em;

  background:rgba(10, 56, 78, 0.8);
  color:white;
  border:0.1em solid rgba(143, 163, 182, 0.8);

  padding:1em;
  font-size:2em;

  z-index:1000;
}

.drawtogether-general-message:hover {
  background:rgba(10, 56, 78, 0.2);
  border:0.1em solid rgba(143, 163, 182, 0.2);
  color:rgba(255, 255, 255, 0.2);
}

/**
 * View for mode selection
 */
.drawtogether-selectwindow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height:100%;
  background: #456789;
  text-align: center;
  z-index: 300; }
  .drawtogether-selectwindow .drawtogether-modeselect-button {
    display: inline-block;
    margin: 2em 2em 0;
    padding: 2em;
    min-width:13em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: .2em;
    border-bottom: 0.3em solid #799abb;
    color: #333333;
    background-color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color; }
  .drawtogether-selectwindow .drawtogether-modeselect-button:hover {
    background-color: #bccdde; }

    .drawtogether-faq {
        padding-top:4em;
        padding-bottom:8em;
        text-align:left;
    }

    .drawtogether-question-question {
        padding:.1em;
        margin:.1em;
    }

    .drawtogether-question {
        background:#3A5774;
        padding:.8em;
        max-width:60%;
        margin-top:.8em;
        margin-bottom:.8em;
        margin-left:auto;
        margin-right:auto;
    }

    .drawtogether-question-answer {
        color:white;
        font-size:1.2em;
    }

  .drawtogether-redditdrawings {
    display:inline-block;
    margin-top:4em;
    width:90%;
    background:#3A5774;
    overflow:auto;
    white-space: nowrap;
    min-height:17em;
  }

  .drawtogether-redditdrawings-title {
    position:absolute;
    color:white;
    font-weight:800;
    float:left;
    vertical-align: top;
    padding:1em;
    font-size:1em;
  }

  .drawtogether-redditpost {
    margin:.1em;
    padding:.5em;
    height:15em;
    max-width:20em;
    min-width:15em;
    font-size:1em;
    white-space:normal;
    text-align:left;
    vertical-align: bottom;
    margin-top:4em;
    margin-bottom:1em;
    overflow:hidden;
  }

  .drawtogether-redditpost-thumb {
    display:block;
    margin:auto;
    margin-top:1em;
    margin-bottom:1em;
    height:100px;
    max-width: 140px;
  }

  .drawtogether-redditpost-thumbfiller {
    min-height:100px;
    margin:1em;
    padding:1em;
    text-align:center;
    background:rgba(0, 0, 0, 0.1);
  }

  .drawtogether-redditpost-title {
    text-decoration: none;
  }

  .drawtogether-redditdrawings a {
    display:inline-block;
    text-decoration: none;
    color:white;
    background:rgba(0, 0, 0, 0.1);
  }

  .drawtogether-redditdrawings a:hover {
    color: rgb(223, 221, 221);
    background:rgba(0, 0, 0, 0.2);
  }

/**
*   All windows
*/

.drawtogether-window {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  z-index: 200;
}

.drawtogether-button {
  padding: .5em;
  border-bottom: 0.2em solid #233445;
  background-color: #456789;
  color: #fff;
  cursor: pointer;
  margin:.3em;
  margin-left:.5em;
  margin-right:.5em;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
}

.drawtogether-button:hover {
  background-color: #233445;
}

/**
* RoomWindow
*/

.drawtogether-roomwindow-content {
  padding:.4em;
  display:inline-block;
  background:white;
}

.drawtogether-room-text {
  font-size:2em;
  font-weight:800;
  text-align:left;
  padding: .25em .5em;
}

.drawtogether-roomwindow input {
  display:inline-block;
  min-width:300px;
  padding: .25em .5em;
  height: 2.3rem;
  line-height: 2.3rem;
  margin: .5em;
  border-radius: .2em;
  background-color: #e6e6e6;
}

.drawtogether-roomwindow .drawtogether-button {
  display:inline-block;
}

.drawtogether-roomwindow .drawtogether-close-button, .drawtogether-roomwindow .drawtogether-room-button {
  display:block;
}

/**
* Account window
*/

.drawtogether-accountwindow input {
  display:block;
  min-width:300px;
  width:calc(100% - 1em);
  padding: .25em .5em;
  height: 2.3rem;
  line-height: 2.3rem;
  margin: .5em;
  border-radius: .2em;
  background-color: #e6e6e6;
}

.drawtogether-account-formcontainer {
  display:inline-block;
  padding:.5em;
  background:white;
  border-radius:.2em;
}

.drawtogether-error {
  background:rgb(185, 85, 85);
  color:white;
  border:rgb(155, 69, 69) .2em solid;
  padding:1em;
}

.drawtogether-success {
  background:rgb(68, 132, 73);
  color:white;
  border:rgb(22, 58, 25) .2em solid;
}

.drawtogether-login-error {
  display:inline-block;
  padding:.5em;
  margin-bottom:1em;
}

.drawtogether-login-success {
  display:inline-block;
  padding:.5em;
  margin-bottom:1em;
}

.drawtogether-login-message {
  margin:.3em;
}

.drawtogether-register-button {
  margin-bottom:1.7em !important;
}

/**
* Room information
*/

.drawtogether-info-container {
  position:absolute;
  top:0;
  right:0;
  bottom:70%;
  width: 20rem;
  overflow: hidden;
  overflow-y: auto;
  border-left: 0.2em solid #233445;
  border-bottom: 0.2em solid #799ABB;
  background: #456789;
  font-family:monospace;
}

.drawtogether-pl-title {
  display:inline-block;
  width:100%;
  color:#fff;
  font-size:1.2em;
  padding:.5em;
}

.drawtogether-player {
  display:inline-block;
  width:100%;
  color:#fff;
  font-size:1em;
  padding-left:.8em;
  margin-bottom:.1em;
  background:#456789;
  transition-duration:.2s;
}

.drawtogether-player:hover {
  background:#426283;
}

.drawtogether-player-button {
  display:inline-block;
  background:rgb(39, 56, 73);
  padding:.4em;
  margin-right:.2em;
  cursor:pointer;
}

.drawtogether-player-button:hover {
  background:rgb(50, 71, 91);
}

.drawtogether-player-name {
  padding:.4em;
}

.drawtogether-ink-container {
  position:relative;
  margin:0.2em;
  border:0.2em solid #233445;
  background:#799abb;
  text-align:center;
}

.drawtogether-ink {
  color:white;
  background:green;
  font-size:1em;
  height:1.8em;
  line-height:1.8em;
  white-space: nowrap;
}

.drawtogether-ink-low {
  background:red;
  color:white;
}

.drawtogether-ink-middle {
  background:orange;
  color:rgb(134, 36, 2);
}

/**
 * Sidebar containing chat
 */
.drawtogether-chat-container {
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  width: 20rem;
  overflow: hidden;
  border-left: 0.2em solid #233445;
  background: #456789; }
  .drawtogether-chat-container .messagecontainer {
    height: calc(100% - 3rem);
    overflow-y: auto; 
	overflow-x: hidden;}
  .drawtogether-chat-container .chat-message {
    padding: .5em;
    font-family: monospace;
    font-size: 1.2em;
    color: #fff; 
    word-wrap:break-word;
  }
    .drawtogether-chat-container .chat-message:not(:last-child) {
      border-bottom: 0.1em solid #799abb; }
    .drawtogether-chat-container .chat-message:nth-child(even) {
      background-color: #486c90; }
  .drawtogether-chat-container .inputcontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    border-top: 0.2em solid #233445; }
  .drawtogether-chat-container .drawtogheter-chat-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    padding: 0 1em; }
  .drawtogether-chat-container .button-small {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color; }
    .drawtogether-chat-container .button-small:hover {
      background-color: #233445; }

.drawtogether-paint-container,
.drawtogether-control-container {
  position: absolute;
  left: 0;
  width: calc(100% - 20rem); }


/**
 * Canvas container
 */
.drawtogether-paint-container {
  top: 3rem;
  bottom: 0;
  overflow: hidden; }
  .drawtogether-paint-container .control-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: .5em;
    background-color: #fff;
    border-bottom-right-radius: .5em;
    box-shadow: 0 0 .5em #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    touch-callout: none;
    z-index: 100; }
    .drawtogether-paint-container .control-container [class^='control-'], .drawtogether-paint-container .control-container .sp-replacer {
      float: left;
      height: 2rem; }
      .drawtogether-paint-container .control-container [class^='control-']:not(.control-integer-input), .drawtogether-paint-container .control-container .sp-replacer:not(.control-integer-input) {
        line-height: 2rem; }
  .drawtogether-paint-container .control-button {
    min-width: 3em;
    text-align: center; }
    .drawtogether-paint-container .control-button img {
      height: 1em; }

/**
 * Settings container
 */
.drawtogether-control-container {
  height: 3rem;
  overflow: hidden;
  box-shadow: 0 0 .5em #000; }
  .drawtogether-control-container .control-button,
  .drawtogether-control-container .control-text-input {
    height: 2.3rem;
    line-height: 2.3rem;
    margin: .3rem .5em 0;
    border-radius: .2em; }

    .drawtogether-control-container .control-text-input {
      width:9em;
    }

.control-button {
  display: inline-block;
  padding: 0 .5em;
  border-bottom: 0.2em solid #233445;
  background-color: #456789;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color; }

.control-integer {
  display: inline-block; }

.control-integer-input,
.control-text-input {
  padding: .25em .5em;
  background-color: #e6e6e6; }

.sp-preview {
  height: 100% !important; }

.paint-selected-tool {
  background:#607E9D !important;
}

.paint-selected-tool:hover {
  background:#384D63 !important;
}

.paint-canvas {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Performance tricks
      http://stackoverflow.com/questions/10014461/why-does-enabling-hardware-acceleration-in-css3-slow-down-performance/10114994#10114994
  */
  -webkit-transform: translatez(rotateZ(360deg));
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
}

.paint-canvas-public {
  background-image: url("images/transparent.png"); }

.drawtogether-sharewindow {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  z-index: 200; }
  .drawtogether-sharewindow .drawtogether-preview-canvas {
    display: block;
    max-height: 80%;
    max-width: 80%;
    margin: 2em auto;
    border-radius: .3em;
    background-image: url("images/transparent.png"); }
  .drawtogether-sharewindow .drawtogether-button {
    display: inline-block;
    margin: 0 .2em;
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
    background-color: #456789;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color; }
    .drawtogether-sharewindow .drawtogether-button:hover {
      background-color: #5780aa; }
  .drawtogether-sharewindow .drawtogether-share-url {
    background-color: #589A56;
    padding: 1em;
    color: #fff;
    font-size: 1.5em; }
    .drawtogether-sharewindow .drawtogether-share-url a {
      color: #fff; }

    .addthis_sharing_toolbox {
    	display:inline-block;
    }

    .drawtogether-flashy {
      /*transition-duration:0;
      -webkit-animation: flashy 120s infinite;
      animation: flashy 120s infinite;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flashy {
    8% {background: #456789;}
    9% {background: #C59034;}
    10% {background: #456789;}
    11% {background: #C59034;}
    12% {background: #456789;}
}

/* Standard syntax */
@keyframes flashy {
    8% {background: #456789;}
    9% {background: #C59034;}
    10% {background: #456789;}
    11% {background: #C59034;}
    12% {background: #456789;}
}

  .control-button:hover {
    background-color: #233445; }

.drawtogether-display-on-small {
  display:none;
}

@media (max-width: 1175px) {
  #fullscreen {
    left: auto;
    right: auto;
    bottom: auto; 
    overflow-x:hidden;
  }

  .drawtogether-info-container {
    position:absolute;
    height:calc(100% - 3em);
    width:100%;
    right:-100%;
    z-index:125;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .drawtogether-chat-container {
    position:absolute;
    top:0;
    right:-100%;
    z-index:150;
    width:100%;
    height:calc(100% - 3em);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .drawtogether-unhide-on-mobile {
    right:0;
  }

  .drawtogether-display-on-small {
    display:inline-block;
  }

  .drawtogether-paint-container {
    position:relative;
    width:auto;
    height:calc(100% - 3em);
    top:0;
  }

  .drawtogether-control-container {
    width: 100%;
    height: auto;
    background:white;
  }

  .messagecontainer {
    margin-bottom: 3rem; }

  .drawtogether-sharewindow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: none; } 
}
.addthis_sharing_toolbox {
  float:right;
  margin:.3rem .5em 0;
}

/*
  The gui elements
*/

.gui-prompt-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  z-index: 200;
}

.gui-prompt-content {
  padding:.8em;
  display:inline-block;
  background:white;
  border-radius: .2em;
}

.gui-prompt-question {
  display:inline-block;
  margin-bottom:.2em;
  padding: .4em;
  margin: .4em;
  margin-bottom: .8em;
  font-size:1.2em;
}

.gui-prompt-content input {
  width:100%;
  width:calc(100% - 1em);
  display:inline-block;
  min-width:300px;
  padding: .25em .5em;
  height: 2.3rem;
  line-height: 2.3rem;
  margin: .5em;
  border-radius: .2em;
  background-color: #e6e6e6;
}

.gui-prompt-button {
  padding: .5em;
  border-bottom: 0.2em solid #233445;
  background-color: #456789;
  color: #fff;
  cursor: pointer;
  margin:.3em;
  margin-left:.5em;
  margin-right:.5em;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
}

.gui-prompt-button:hover {
  background-color: #233445;
}