.paint-canvas {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;

	/*
	    Pixelated rendering
	*/
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.paint-canvas-background {
	background-image: url("images/transparent.png");
}

.paint-selected-tool {
	background:rgb(190, 190, 190);
}

.paint-selected-tool:hover {
	background:rgb(180, 180, 180);
}

input.paint-texttool {
	position:relative;
	margin:.2em;
	padding:.2em;
	font-size:1.2em;
	font-family: Verdana, Geneva, sans-serif;
}

.mouse-coords {
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
	padding: .3em;
}

.favorites-button {
  padding: 0.3em !important;
}

.favorites-window {
	padding: 0.3em;
	position: absolute;
	background: #ececec;
	border: solid 1px #ccc;
	right: 1.4em;
	bottom: 3.8em;
	display: none;
	max-height: 800px;
	overflow-y: overlay;
}

.favorites-container {
	min-width: 14em;
}

.favorite-container { 
	text-align: right;
}

.fav-button:hover {
	background-color: #233445; 
}
	
.fav-button {
	text-align: center;
	display: inline-block;
	padding: 0 .5em;
	border-bottom: 0.2em solid #233445;
	background-color: #456789;
	color: #fff;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
}

.fav-plus-button {
	display: block;
	min-width: 0px;
	width: 34px;
	float: right;
}

.fav-minus-button {
	display: block;
	min-width: 0px;
	width: 34px;
	float: right;
}

.fav-pencil-button {
	display: block;
	min-width: 0px;
	float: right;
	width: 34px;
	position: relative;
}

.fav-pencil-button:hover > div {
    visibility: visible !important;
    opacity: 1;
    transition: opacity 0.4s;
    width: 5px;
}

.fav-coor-button {
	display: block;
	width: calc(100% - 102px);
	float: right;
}

.fav-add-new-fav {
	width: 100%;
	border-bottom-width: 5px;
	font-size:smaller;
	margin-bottom: 1px;
}
.fav-add-new-fav:hover {
	font-weight: bold;
}
.fav-rename-container {
	position: absolute;
	right: 34px;
	bottom: 0px;
	height: 23px;
	visibility: hidden;
	width: 0px;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}

.fav-rename-input { 
	display: block;
	width: 101px !important;
	margin: 0px !important;
	margin-top: 2px !important;
	padding: 0px !important;
	text-align: center !important;
	float: right;
}

