.menu {
	font-family: 'Noto Sans', sans-serif;
	position:relative;
	background:#364350;
	height:100%;
	width:5em; /* Keep in sync with content-container */
	overflow:hidden;
    text-shadow: -2px 2px 4px #111921;
	z-index:400;
}

.menu a.menuItem {
	display:inline-block;
	background:#323e4a;
	color: #becad6;
	text-decoration: none;
	width:5em;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
}

.menu a.menuItem:hover {
	background:#485869;
	color:white;
}

.menu i.menuIcon {
	box-sizing:content-box;
	vertical-align: middle;
	font-size:2em;
}

.menu span.menuText {
	display:block;
	vertical-align:middle;
	font-size: 0.7em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-top: 0.2em;
}

.content-container {
	position:absolute;
	left:5em;
	top:0;
	bottom:0;
	right:0;
	background:#eef2f5;
	overflow:auto;
}

.collab-container {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background:white;
}