.paint-canvas {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;

	/*
	    Pixelated rendering
	*/
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.control-gradient {
    display: inline-block;
    width: 20em;
    height: 1em;
    vertical-align: top;
    margin-left: 2em;
}

.paint-canvas-background {
	background-image: url("images/transparent.png");
}

.paint-selected-tool {
	background:rgb(190, 190, 190);
}

.paint-selected-tool:hover {
	background:rgb(180, 180, 180);
}

input.paint-texttool {
	position:relative;
	margin:.2em;
	padding:.2em;
	font-size:1.2em;
	font-family: Verdana, Geneva, sans-serif;
}

.mouse-coords {
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
	padding: .3em;
}