.profilecontainer {
	display:flex;
	flex-direction:column;
	height:100%;
}

.profile {
	position:relative;
	margin:auto;
	margin-bottom:10em;
	margin-top:initial;
	width:80em;
	max-width:100%;
	background:#556779;
}

.profile .edit {
	position: absolute;
    background: rgb(54, 67, 80);
    padding: 0.5em;
    margin: 0.2em;
    margin-left: 8em;
    border-radius: 50%;
    color: #eef2f5;
	cursor:pointer;
}

.profile .edit:hover {
    background: rgb(37, 45, 53);
}

.editwindow .button {
	background:#6c987d;
}

.editwindow .button:hover {
	background:#89b59a;
}

.editwindow textarea {
	width:100%;
	height:7em;
}

.editwindow .status {
	display: block;
    padding: 1em;
    margin-bottom: 1em;
    background: #6c987d;
    color: white;
}

.editwindow .status:empty {
	padding:0;
}

.editwindow .status.error {
	background:#986c6c;
}

.profile.error {
	margin-top: 5em;
    padding: 1em;
    color: white;
}

.profile .header {
	width: 100%;
	height:20em;
	background-image:url(images/transparent.png);
}

.profile .profilepic {
	width: 10em;
	height:10em;
	box-shadow: 1px 1px 10px 0 #a5afb9;
	background-image: url(images/transparent.png);
}

.profile .profilepiccontainer {
	position:absolute;
	top:5em;
	left:5em;
}

.profilepiccontainer h1 {
	display:inline-block;
	vertical-align:top;
	margin:1em;
	padding:1em;
	background:rgba(54, 67, 80, 0.9);
	color:white;
}

.profile .contentcontainer {
	display:flex;
}

.profile .column {
	margin:1em;
	width:20%;
}

.profile .bio {
	padding:1em;
	margin-bottom:1em;
	background:#eef2f5;
	box-shadow: 1px 1px 10px 0 #424446;
}

.bio h2 {
	margin-top: 0;
}

.profile .feed {
	margin:1em;
	width:80%;
	color:white;
}

.profile .button.sendmessage {
	display:block;
	margin:0;
	margin-bottom:1em;
	background:#6c987d;
}

.profile .button.sendmessage:hover {
	background:#89b59a;
}


@media (max-width:750px) {
	.contentcontainer {
		flex-direction:column;
	}
	
	.profile .column {
		width:initial;
	}
	
	.profile .feed {
		width:initial;
	}
	
	.profile .profilepiccontainer {
		position:initial;
		padding:1em;
	}
	
	.profile .profilepic {
		box-shadow:initial;
	}
}
